body
{
  color: white;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(231,222,21,1) 25%, rgba(9,213,53,1) 50%, rgba(69,165,252,1) 75%, rgba(228,69,252,1) 100%);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed white;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: white;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 6px;
}